<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <% if (erros){ %>
        <ul>
            <% for (let i=0; i < erros.length; i++) { %>
                <li><%= erros[i].msg %></li>
            <% } %>
        </ul>
    <% } %>
    <h1>Alterar senha</h1>
    <form action="/usuario/alterarSenha" method="post">
        <label>Senha</label>
        <br>
        <input type="password" name="senha" id="senha">
        <br><br>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>